@charset "utf-8";

*{
    margin: 0 auto();
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}

body{
    width: 1000px;
    height: 650px;
    background-color: #ffffff;
    font-size: 20px;
}

a{
    text-decoration: none;
    display: block;
}

header{
    float: left;
}
.lefttop{
    float: left;
    width: 200px;
    height: 650px;
    background-color: #eeeeee;
}
.logo{
    float: left;
    width: 200px;
    height: 100px;
    margin-top: 30px;
}
.menu{
    float: left;
    top: 100px;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.menu>li{
    float: left;
    width: 180px;
}

.menu>li>a{
    width: 180px;
    height: 40px;
    background-color: #333333;
}

.imgslide{
    float: right;
    width: 800px;
    height: 350px;
}

.contents{
    float: right;
    width: 800px;
    height: 200px;
}

.notice{
    float: left;
    width: 300px;
    height: 200px;
}
.gallery{
    float: left;
    width: 300px;
    height: 200px;
}

.shortcut{
    float: right;
    width: 200px;
    height: 200px;
}

footer{
    float: right;
    width: 800px;
    height: 100px;
    background-color: #acdfff;
}
.btlogo{
    float: left;
    width: 200px;
    height: 100px;
}
.bottom{
    float: right;
    width: 600px;
    height: 100px;
}
.btmenu{
    float: right;
    width: 600px;
    height: 50px;
}
.copy{
    float: right;
    width: 600px;
    height: 50px;
}